@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    width: 100%;
    min-height: 100vh;
  }

  :root {
    --background: 255 255 255; /* White */
    --foreground: 31 41 55; /* Gray 800 */
  }

  /* Target the .dark class applied to <html> */
  .dark {
    --background: 15 23 42; /* Slate 950 */
    --foreground: 248 250 252; /* Slate 50 */
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    @apply transition-colors duration-300 font-sans;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
